@import "../../../css/constants";

.footer-text {
  line-height: 20px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 5px;
}

.social-icons-design {
  text-align: center;
  padding-bottom: 5px;
}