@import "../../../../css/constants";

div.right-sidebar {
  .category, .recent-articles, .popular-articles {
    color: #222;
    padding-left: 0px;
    ul {
      list-style-type: none;
      display: inline-block;
      padding-left: 0px;
      margin-left: 15px;
      margin-bottom: 30px;
      width: 100%;
      li {
        width: 100%;

        border-bottom: 1px solid rgba(0, 0, 0, 0.21);
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          color: #222;
          padding: 10px 0 10px 0;
          margin: 0px;
        }

        a:hover {
          text-decoration: none;
          color: $primary-color-link;
        }

        a:before {
          content: "\169B\00a0\00a0";
        }
        ul {
          display: none;
          padding-left: 20px;
          li {
            border-bottom: 1px solid #c7c7c7;
            a:before {
              content: "\25B8";
            }
          }
        }
      }
    }
  }

  .github-section {
    margin-left: 5px;
    .img-github {
      max-width: 50px;
      padding-top: 5px;
      margin-bottom: 15px;
    }
    .btn:hover {
      //@include transition($transition-links);
      color: $primary-color-link;
      border-color: $primary-color-link;
    }
    .btn {
      width: 100%;
      display: inline-block;
      border-radius: 0;
      letter-spacing: 2px;
      font-family: 'Abel', serif;
      text-transform: uppercase;
    }
    .btn-dark-solid {
      background: #222;
      color: #fff;
    }
    .btn-small {
      padding: 10px 20px;
      font-size: 12px;
      font-weight: bold;
    }
  }
}